@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Light.woff2')format('woff2');
    src: url('../fonts/CeraPro-Light.woff') format('woff');
    src: url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Medium.woff2')format('woff2');
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    src: url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Black.woff2')format('woff2');
    src: url('../fonts/CeraPro-Black.woff') format('woff');
    src: url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
}

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 123456789 ;
    background: linear-gradient(180deg, #EDF6EF 0%, #52C368 100%);
}

.preloader .line{
    /* width: 500px; */
    width: 320px;
    height: 15px;
    background: #fcfcfc;
    border-radius: 50px;
    border: 1px solid #222;
    z-index: 123456789;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:1200) {
    .preloader .line{
        width: 500px;
    }
}

.preloader .line .round{
    position: absolute;
    left: 0;
    display: block;
    height: 100%;
    width: 0;
    background: #333;
    border-radius: 50px;
    animation: animate 3s cubic-bezier(.76, .25, .2, 1.04) infinite;
}

@keyframes animate {
    0% {
        width: 0;
        left: 0;
    }
        50% {
        width: 100%;
    }
        100% {
        width: 0;
        left:auto;
        right: 0;
    }
}

.blockLine{
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    background: #ffffff50;
}

h2, span[style]{
    font-weight: 400;
    font-size: 30px;
}

.info{
    margin-top: 35px;
}

.info span{
    animation: animateText 1s ease infinite;
    animation-delay: calc(var(--i)* 0.3s);
}

@keyframes animateText {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}