@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Light.woff2')format('woff2');
    src: url('../fonts/CeraPro-Light.woff') format('woff');
    src: url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Medium.woff2')format('woff2');
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    src: url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Black.woff2')format('woff2');
    src: url('../fonts/CeraPro-Black.woff') format('woff');
    src: url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.conteiner{
    display: flex;
    margin: 82px 105px;
    gap: 25px;
}

.left-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    padding: 7px 240px 320px 12px;
}

.nav-item{
    text-align: left;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 25px;
}

.nav-item1{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding-left: 10px;
    width: 120%;
    padding-bottom: 25px;
}

.nav-item2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 15px;
}

.right-part{
    display:flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.head1{
    display: flex;
    gap: 40px;
}

.head2{
    display: flex;
    gap: 8px;
}

.sss{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Plants{
    display: flex;
    justify-content: space-between;
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    border-bottom: 2px solid #46A358;
}

.other1{
    display: flex;
    justify-content: space-between;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
}

.sale{
    display: flex;
    align-items: end;
    justify-content: end;
}

.other2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-right: 5px;
}

.img{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:70px ;
    column-gap: 37px;
}


.img1{
    width: 258px;
    height: 350px;
}

p{
    text-align: center;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.num{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.number{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 10px;
    margin-top: 90px;
    margin-right: 105px;
}

.number1{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    padding: 10px 13px;
}

.number2{
    border-radius: 4px;
    background: #46A358;
    border: 1px solid #46A358;
    color: #3D3D3D;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 13px;
}

.arrow{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    padding: 10px 12px;
}

.arow{
    transform: rotate(-90deg);
}