*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.first{
    padding: 30px 120px 6px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}
.nav{
    display: flex;
    gap: 50px;
}

.nav-item{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    padding: 8px 0 25px;
}

.active{
    font-weight: 700;
    border-bottom: 3px solid #46A358;;
}

.button{
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.second{
    padding: 6px 120px 52px;
    box-sizing: border-box;
}

.center{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F580;
    font-size: 0;
}

.take{
    gap: 5px;
    display: inline-block;
    width: 65%;
}
.take-item1{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 68px 445px 7px 43px;
    width: 30%;
}


.take-item3{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 0 93px 44px 43px;
    width: 90%;
}

.make-planet{
    padding: 0 123px 5px 40px;
    width: 100%;
}

.planet{
    font-family: "Cera Pro";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    color: #46A358;
}

.make{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
}

.btn{
    white-space: nowrap;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding:9px 27px ;
    margin: 0 512px 85px 41px;
    border-radius: 6px;
}

.pictures{

    position: relative;
    display: inline-block;
    width: 35%;
}

.big{
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    max-width: 100%
}

.little{
    position: absolute;
    top: 298px ;
    left: 50px;
    width: 30%;
    height: 135px;
}


