@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Light.woff2')format('woff2');
    src: url('../fonts/CeraPro-Light.woff') format('woff');
    src: url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Medium.woff2')format('woff2');
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    src: url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Black.woff2')format('woff2');
    src: url('../fonts/CeraPro-Black.woff') format('woff');
    src: url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background-color: transparent;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.img{
    position: absolute;
    top: 13px;
    right: 13px;
}
div.spann{
    display: flex;
    border: none;
    padding: 10px;
    border-radius: 8px;
    gap: 8px;
}
span.Login{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 20px;
    font-weight: 500;
}
span.one{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 19px;
    font-weight: 250px;
}
span.Register{
    color: #46A358 ;
    font-family: "Cera Pro";
    font-size: 20px;
    font-weight: 500;
}
span.Enter{
    display: flex;
    margin-bottom: 16px;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 13px;
    font-weight: 400;
}
label{
    margin-bottom: 16px;
}

input[type='text']{
    padding: 16px 79px;
    border-radius: 8px;
    border: 1px solid gray;
    font-family: "Cera Pro";
    padding-left: 14px;
    padding-right: 138px;
}
div.input{
    margin-bottom: 16px;
}
input[type='password']{
    padding: 16px 77px;
    border-radius: 8px;
    border: 1px solid gray ;
    color: gray;
    font-family: "Cera Pro";
    font-size: 14px;
    padding-left: 14px;
    padding-right: 138px;
}
img.eye{
    position:absolute;
    right: 16px;
    top: 7px;
    left: 3px;
    padding: 10px;
    padding-left: 270px ;
}
div.pict{
    margin-bottom: 16px;
    position: relative;
}
input{
    display: flex;
    padding: 16px 74px;
    border-radius: 8px;
    color:#A5A5A5;
    border: 1px solid gray;
    font-family: "Cera Pro";
    font-size: 146x;
    font-weight: 700;
}
a[type='submit']{
    display: flex;
    border-radius: 5px;
    background-color:#46A358 ;
    border:none ;
    color:#FFFFFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 700;
    padding: 16px 128px;
    cursor: pointer;
}
span.Or{
    display: flex;
    margin-bottom: 16px;
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    gap: 16px;
}
div.Google{
    margin-bottom: 16px;
    display: flex;
    border-radius: 4px;
    border: 1px solid gray;
    color: #EAEAEA;
    font-family: "Cera Pro";
    font-size: 13px;
    font-weight: 500;
    padding: 13px 80px;
    gap: 9px
}
div.Facebook{
    margin-bottom: 16px;
    display: flex;
    border-radius: 4px;
    border: 1px solid gray;
    color: #EAEAEA;
    font-family: "Cera Pro";
    font-size: 13px;
    font-weight: 500;
    padding: 13px 75px;
    gap: 9px
}
div.line{
    height: 10px;
    background-color: #46A358;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
span{
    color: #727272;
}
span.continuegoogle{
    padding-top: 4px;
    padding-bottom:4px ;
}
span.continuefacebook{
    padding-top: 4px;
    padding-bottom:4px ;
}