* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: none;
  background-color: transparent;
}

.header12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.header12 .about-us {
  color: var(--Main-Regular, #323264);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header12 .header12-svg {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 2px;
}
.header12 .header12-svg .svg-2 {
  display: flex;
  gap: 6px;
}

.header1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--Grey-Bg, #F5F5FA);
}
.header1 .word {
  display: flex;
  align-items: center;
}
.header1 .word .Language {
  color: var(--Grey-Text, #B3B3BA);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 7px;
}
.header1 .word .Language:hover {
  color: var(--Basic-White, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background: var(--Accent, #F0145A);
}
.header1 .number {
  color: var(--Grey-Text, #B3B3BA);
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.body1 {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.body1 .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.body1 .nav .hhh1 {
  font-family: Montserrat;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 28px;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body1 .nav .ppp1 {
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.stickers-mass {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 4px solid var(--Grey-Separator, #E6E6F0);
  padding-left: 30px;
}
.stickers-mass .sticker .litle-span {
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stickers-mass .sticker .tekst1 {
  color: var(--Main-Regular, #323264);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pictures {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.pictures .img-team {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.pictures .team {
  color: var(--Basic-White, #FFF);
  text-align: center;
  text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 25px;
  text-transform: uppercase;
  position: absolute;
  opacity: 0.8;
  left: 29%;
  top: 38%;
}

.body2 {
  margin: 30px;
}
.body2 .hhh1 {
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 28px;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body2 .body2-text {
  color: var(--Basic-Black, #000);
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}

.achievements {
  display: flex;
  padding: 30px 60px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  background: var(--Grey-Bg, #F5F5FA);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--Grey-Separator, #E6E6F0);
}
.achievements .achievements-text {
  color: var(--Main-Regular, #323264);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.achievements .achievements-div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 104px;
  border-radius: 12px;
  background: var(--Basic-White, #FFF);
}
.achievements .achievements-div-img .achievements-img {
  width: 53px;
  height: 40px;
}
.achievements .svg-gap {
  display: flex;
  gap: 14px;
}

.footer-mobil1 {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-mobil1 .adres-footer {
  color: var(--Main-Regular, #323264);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}
.footer-mobil1 .map-footer {
  color: var(--Active-Regular, #24A3FF);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 21px;
}
.footer-mobil1 .number-footer {
  color: var(--Main-Alt, #46466E);
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0 10px;
}
.footer-mobil1 .contact-footer {
  color: var(--Active-Regular, #24A3FF);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}
.footer-mobil1 .contact-footer:hover {
  color: var(--Accent, #F0145A);
}
.footer-mobil1 .c-footer {
  color: var(--Grey-Text, #B3B3BA);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */