@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Light.woff2')format('woff2');
    src: url('../fonts/CeraPro-Light.woff') format('woff');
    src: url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Medium.woff2')format('woff2');
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    src: url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot#iefix') format('embedded-opentype');
    src: url('../fonts/CeraPro-Black.woff2')format('woff2');
    src: url('../fonts/CeraPro-Black.woff') format('woff');
    src: url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.first{
    margin: 30px 105px 10px;
}
.headerr{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}
.nave{
    display: flex;
    gap: 50px;
}

.nave-item:hover{
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.nave-item{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    padding: 8px 0 25px;
    position: relative;
    border-bottom: 3px solid transparent;
}

.sub-list{
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background: #EDF6EE;
    top: 110%;
    right: -50%;
    z-index: 1;

}

.sub-nave-item{
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
}

.sub-nave-item1{
    display: flex;
    color:#3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    padding:14px;
    gap: 80px;
    justify-content: space-between;
    align-items: baseline;
}

.nave-item:hover>.sub-list{
    display: block;
}

.sub-nave-item1:hover{
    color: #FFF;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background: #1A712A;
}

.sub-nave-item1:hover>svg{
    transform: rotate(-180deg);
}

.sub-nave-item1:hover>svg>path{
    fill: #FFFFFF;
}

.svggg{
    display: flex;
    align-items: end;
    justify-content: end;
}

.sub-sub-item{
    display: none;
    left: 100%;
    top: 74%;
    width: 100%;
    flex-wrap: nowrap;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background: #EDF6EE;
}

.sub-sub-nave-item{
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    flex-wrap: nowrap;
    width: 100%;
}

.nave>.nave-item>.sub-list>.sub-nave-item1:hover>.sub-sub-item{
    display: block;
}





.button{
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 105px 12px;
}

.center{
    display: inline-block;
    align-items: baseline;
    width: 100%;
    background-color: #F5F5F580;
    font-size: 0;
}

.take{
    display: inline-block;
    align-items: baseline;
    width: 50%;
    font-size: 16px;
    padding: 70px 0 70px 40px;
}
.take-item1{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}


.take-item3{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    width: 100%;
}

.make-planet{
    color: #3D3D3D;
    font-family: 'Cera Pro';
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 10px;
}

.planet{
    font-family: 'Cera Pro';
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    color: #46A358;
}

.btn{
    display: inline-block;
    white-space: nowrap;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    padding:9px 27px;
    margin-left: 0;
    margin-bottom: 10px;
}

.pictures{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}


.big{
    width: 100%;
    height: 100%;
}

.little{
    position: absolute;
    width: 30%;
    left: 10%;
    bottom: 6%;
}






.conteiner{
    display: flex;
    margin: 82px 105px;
    gap: 25px;
}

.left-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt-base-all{
}

.text-check-nav-item{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkbox-nav-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    gap: 150px;
    text-align: left;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 25px;
}

.custom-check-item{
    position: relative;
}

.custom-checkbox > .span-text{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.custom-checkbox::before{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 25px;
}

.custom-checkbox input:checked ~ .custom-check-item{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.custom-checkbox input:checked ~ .span-text{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.checkbox{
    display: none;
}

.nav-item{
    text-align: left;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 25px;
}

.nav-item1{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding-left: 10px;
    width: 120%;
    padding-bottom: 25px;
}

.nav-item2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 15px;
}

.right-part{
    display:flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.head1{
    display: flex;
    gap: 40px;
}

.head2{
    display: flex;
    gap: 8px;
}

.sss{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Plants{
    display: flex;
    justify-content: space-between;
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    border-bottom: 2px solid #46A358;
}

.other1{
    display: flex;
    justify-content: space-between;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
}

.sale{
    display: flex;
    align-items: end;
    justify-content: end;
}

.other2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-right: 5px;
}

.img{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px ;
    column-gap: 40px;
}

.img-item{
    display: flex;
    border: 1px solid transparent;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.img123{
    display: flex;
    position: relative;
}

.img1{
    width: 220px;
    height: 250px;
    position: relative;
}

.container-svg{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 26px;
    bottom: 14px;
    left: 55px;
}

.gsvg path{
    fill: #3D3D3D;
}

.gsvg:hover path{
    fill: #46A358;
}

.img-item:hover{
    border-top: 1px solid #46A358;

}

.img-item>.img123:hover>.container-svg{
    display: flex;
}


.OFF{
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: #46A358;
    padding: 7px 8px;
    left: 0;
    position: absolute ;
}


p.text{
    text-align: center;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.num-item{
    display: flex;
    gap: 16px;
}

.num{
    text-align: center;
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.num1{
    color: #A5A5A5;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: line-through;
}

.number{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 10px;
    margin-top: 90px;
}

.number1{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    padding: 10px 13px;
}

.number2{
    border-radius: 4px;
    background: #46A358;
    border: 1px solid #46A358;
    color: #3D3D3D;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 13px;
}

.arrow{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    padding: 10px 12px;
}

.arow{
    transform: rotate(-90deg);
}





.conteiner111{
    display: flex;
    flex-direction: column;
    margin: 69px 105px;
    row-gap: 138px;
}

.up111{
    display: flex;
    justify-content: center;
    gap: 28px;
}

.first-items111{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jin111{
    width: 287px;
    height: 292px;
}

.text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.tnt111{
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 9px;
}

p.text1231{
    color: #727272;
    text-align: right;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 25px;
}

.button010{
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border-radius: 6px;
    background: #46A358;
    padding: 9px 28px;
    margin-bottom: 46px ;
}

.down111{
    display: flex;
    flex-direction: column;
}

.tekst2{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tnt1{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}

.tnt2{
    color: #727272;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 35px;
}

.posts{
    display: flex;
    justify-content: center;
    gap: 28px;
}

.class{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    justify-content: space-between;
}

.base{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.base2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.base3{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.bottom2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.bottom2:hover>svg>path, .bottom2:hover{
    fill: #46A358;
    color: #46A358;
}

.alle-pictures{
    width: 268px;
    height: 174px;
}



.big-one-gradient{
    margin: 69px 105px;
}

.text-pictures{
    display: flex;
    padding: 24px;
    gap: 62px;
    margin-bottom: 24px;
}

.block-1{
    display: flex;
    gap: 65px;
}

.text-block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-block1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid rgba(70, 163, 88, 0.10);
}

.image-egami{
    width: 77px;
    height: 95.473px;
}

.text-h-p-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-p-2{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.text-h-2{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.text-h-1{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 25px;
}


.big-text-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.btn-white{
    border-radius: 6px ;
    background: #FFF;
    padding: 12px 110px 12px 12px;
}

.btn-green{
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 0 6px 6px 0;
    background: #46A358;
    padding: 12px 26px;
}
.text-p-1{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 80%;
    margin-top: 18px;
}

.big-gradient{
    display: flex;
    justify-content: space-between;
    padding: 27px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    margin-bottom: 33px;
}

.lv-1{
    display: flex;
    gap: 100px;
}

.lv-1-1{
    display:flex;
    gap: 5px;
    align-items: center;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.account-sosialmedia{
    display: flex;
    gap: 173px;
    padding: 24px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.tavlet-text{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding-bottom: 27px;
}

.text-ull{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-h-3{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 10px;
}

.text-li{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.all-svg-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.svg-litt-1{
    display: flex;
    width: 190px;
    height: 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 33px;
}

.text-h-end{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 20px;
}

.text-h-end1{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 13px;
}

.The-end{
    display: flex;
    justify-content: center;
}
